{{!< default}}
<footer id="footer">
  <section class="colophon">
    <section class="copyright">
      2016 Copyright © <span itemprop="copyrightHolder"><strong>{{@blog.title}}</strong></span>. <span rel="license">All Rights Reserved</span>.
    </section>
    <span>Created with <strong>Frostmango Theme</strong></span>
  </section>
</footer>