<nav class="navbar navbar-fixed-top navbar-light top" style="background-color: white;">
  <div class="container">
    <a class="navbar-brand blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
    <div class="pull-xs-right">
        <span class="fa-stack fa-lg">
          <i class="twitter fa fa-circle fa-stack-2x"></i>
          <a target="_blank" href="https://twitter.com/Anstroy95" title="Twitter"><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
        </span>

        <span class="fa-stack fa-lg">
          <i class="facebook fa fa-circle fa-stack-2x"></i>
          <a href="#" title="Facebook"><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
        </span>

        <span class="fa-stack fa-lg">
          <i class="googleplus fa fa-circle fa-stack-2x"></i>
          <a target="_blank" href="https://plus.google.com/u/0/101617536280875289712" title="Google Plus"><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></a>
        </span>

        <span class="fa-stack fa-lg">
          <i class="github fa fa-circle fa-stack-2x"></i>
          <a target="_blank" href="https://github.com/Anstroy" title="Github"><i class="fa fa-github-alt fa-stack-1x fa-inverse"></i></a>
        </span>

        <a role="button" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CHUKVAYHBQA8C" class="btn btn-primary-outline">Donate</a>
    </div>
  </div>
</nav>