body {
  background-color: #F7F8FA;
}

nav.top {
  line-height: 40px;
  border-bottom-color: #0275d8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.navbar-light .navbar-brand {
  font-size: 35px;
  color: #0275D8;
}

img.img-credits-author{
  height: 160px;
}

div.container{
  border-radius: 5px;
}

div.credits {
border-top: 7px solid #0275D8;
}

h4.card-title a{
  text-decoration: none;
}

i.twitter{
  color: #04ACED;
}

i.facebook{
  color: #415B98;
}

i.googleplus{
  color: #D14838;
}

i.github{
  color: #4582C3;
}

img.img-author{
  height: 40px;
  margin-right: 15px;
}

img.img-post-author{
  height: 40px;
}

p.card-text a{
  text-decoration: none;
}

div.post-image-container{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 600px;
}

h1.post-title{
  font-size: 4.5rem;
  color: white;
}

.undecorated{
  text-decoration: none;
  color:white;
}

#footer .colophon {
    padding: 50px 20px;
    max-width: 600px;
    margin: 0 auto;
}

#footer {
    background: #252525;
    color: #999;
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

div.post-info{
  width: 700px;
  margin: auto;
  padding: 60px 20px 20px 20px;
  color: #FFF;
}

div.post-info a{
  text-decoration: none;
  color: #FFF;
}

div.bg-white{
  background-color: white;
}

div.post-image-filter{
    background: rgba(0,0,0,0.47);
    width: 100%;
    height: 100%;
    display: flex;
}